<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itis2019.lecturerecorder">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.folderInfo.FolderInfoActivity"
            android:label="@string/title_activity_folder_info"
            android:theme="@style/LightTheme.NoActionBar"></activity>
        <activity android:name=".ui.listener.ListeningActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/LightTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.recorder.RecorderActivity"
            android:screenOrientation="portrait"></activity>

        <service android:name=".service.AudioRecording.AudioRecordService" />
        <service android:name=".service.AudioPlayer.AudioPlayerService" />
    </application>

</manifest>
